### 1. Find the value of T(2) for the recurrence relation T(n) = 3T(n-1) + 12n, given that T(0)=5.

##### **Ans :** 
* T(n) = 3T(n-1) +12n       ------ eq 1
* for  n = n-1,
* T(n-1) = 3T(n-1 - 1) +12(n-1) = 3T(n-2) +12(n-1) ------eq 2
* put value of T(n-1) from eq 2 in eq 1 
* T(n) = 3T(n-1) + 12n = 3 * 3T(n-2) + 3 * 12(n-1) + 12n  ---------eq 3
* Put n = 2
* T(2) = 9T(2-2) + 3 * 12 (2-1) + 12*2
* T(2) = 9T(0) + 36 + 24
* T(2) = 9*5 + 60 = 45+60 = 105
* T(2) = 105

### 2. Given a recurrence relation, solve it using the substitution method:

##### a. T(n) = T(n-1) + c

##### **Ans :**
* T(n) = T(n-1) + c       --------eq1
* put n=n-1
* T(n-1) = T(n-1 - 1) + c = T(n-2) + c --------eq2
* put n= n-2
* T(n-2) = T(n-2 - 1) + c = T(n-3) + c --------eq3
* put value of T(n-1) from eq 2 in eq1
* T(n) = T(n-1) + c = T(n-2) + c+ c = T(n-2) + 2c ----eq4
* put value of T(n-2) from eq 3 in eq 4
* T(n) = T(n-3) + c + 2c  = T(n-3) + 3c
* repeat the process for k times
* T(n) = T(n-k-1) + kc ---------eq 5
* assume n-k = 1  ======> k = n-1, put value of k in eq 5
* T(n) = T(n-(n-1)-1) + (n-1)c
* T(n) = T(0) + nc - c = 0+nc-c = n
* Ans  : O(n)

##### b. T(n) = 2T(n/2) + n

##### **Ans :**
* T(n) = 2T(n/2) + n -------------eq1
* put n= n/2
* T(n/2) = 2T(n/4) + n/2 ------------eq2
* put n = n/4
* T(n/4) = 2T(n/8) + n/4 ---------eq3
* put value of T(n/2) from eq2 in eq1
* T(n) = 2(2T(n/4) + n/2) + n
* T(n) = 4T(n/4) + n + n
* T(n) = 4T(n/4) + 2n
* put value of T(n/4) from eq3 
* T(n) = 4(2T(n/8) + n/4) + 2n
* T(n) = 8T(n/8) + n + 2n
* T(n) = 8T(n/8) + 3n
* repeat the process k times
* T(n) = (2^k)*T(n/(2^k)) + kn
* as n/2^k = 1  ===> n = 2^k ====> k = logn
* T(n) = 2^k * t(1) + kn
* T(n) = n * 1 + nlogn = n + nlogn
* Ans : O(nlogn)

##### c. T(n) = 2T(n/2) + c

##### **Ans :**
* T(n) = 2T(n/2) + c
* put n= n/2
* T(n/2) = 2T(n/4) + c ------------eq2
* put n = n/4
* T(n/4) = 2T(n/8) + c ---------eq3
* put value of T(n/2) from eq2 in eq1
* T(n) = 2(2T(n/4) + c) + c
* T(n) = 4T(n/4) + 2c + c
* T(n) = 4T(n/4) + 3c
* put value of T(n/4) from eq3 
* T(n) = 4(2T(n/8) + c) + 3c
* T(n) = 8T(n/8) + 4c + 3c
* T(n) = 8T(n/8) + 7c
* repeat the process k times 
* T(n) = (2^k) * T(n/(2^k)) + (2^k - 1)c
* as n/2^k = 1  ===> n = 2^k ====> k = logn
* put values in the equation
* T(n) = n * 1 + (n-1)c = n + nc -c = n(1+c) - c
* Ans : O(n)

##### d. T(n) = T(n/2) + c

##### **Ans :**
* T(n) = T(n/2) + c
* put n= n/2
* T(n/2) = T(n/4) + c ------------eq2
* put n = n/4
* T(n/4) = T(n/8) + c ---------eq3
* put value of T(n/2) from eq2 in eq1
* T(n) = (T(n/4) + c) + c
* T(n) = T(n/4) + c + c
* T(n) = T(n/4) + 2c
* put value of T(n/4) from eq3 
* T(n) = (T(n/8) + c) + 2c
* T(n) = T(n/8) + 3c
* repeat the process k times 
* T(n) = T(n/(2^k)) + kc
* as n/2^k = 1  ===> n = 2^k ====> k = logn
* put values in the equation
* T(n) = T(1) + clogn
* Ans : O(logn)

### 3. Given a recurrence relation, solve it using the recursive tree approach:

##### a. T(n) = 2T(n-1) + C

##### **Ans :** 
* T(n) = T(n-1)  + T(n-1) + c
*                                                T(n) + c
*                     T(n-1)  + c                                      T(n-1) + c
*            T(n-2)+c             T(n-2)+c                    T(n-2)+c            T(n-2)+c
*      T(n-3)+c   T(n-3)+c    T(n-3)+c   T(n-3)+c        T(n-3)+c  T(n-3)+c   T(n-3)+c   T(n-3)+c

* until k level - 
* left side -                                                    
* n-k = 1                                                        
* n = k                                                          

* right side - 
* n-k = 1
* n = k

* for constants - 
* (2^0)C + (2^1)C + (2^2)C + (2^3)C + (2^4)C + .......... + (2^k)C 
* common ratio = 2 
* It is a GP series, so sum of GP = a(r^n - 1)/(r-1)
* c(2^n - 1)/2-1 = c * 2^n - c
* Ans : O(2^n)

##### b. T(n) = 2T(n/2) + n

##### **Ans :** 
* T(n) = 2T(n/2) + n
*                                                T(n) 
*                 T(n/2)+n                                 T(n/2)+n                        n
*        T(n/4)            T(n/4)                 T(n/4)            T(n/4)                 2 * n/2
* T(n/8)   T(n/8)      T(n/8)  T(n/8)        T(n/8)    T(n/8)   T(n/8)   T(n/8)            4 * n/4

* until k level - 
* left and middle side ->                                                   
* n/2^k = 1                                                        
* logn = k                                                          

* right side - 
* n+ n+ ...k times... n = k*n = nlog(n)
* Ans : O(nlogn)